.primary {
  padding: 0px 220px;
}

.img1 {
  top: 55px;
}
.img-third {
  top: 1061px;
}
.img-thirdFon {
  top: 1133px;
}
.img-fourth {
  top: 946px;
  right: 0px;
}
.img-fourthFon {
  top: 958px;
  right: 0px;
}
